@model IEnumerable<Rentbuddy.Models.ContactU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContactUS_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUS_PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUS_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactUS_Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUS_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUS_PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUS_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactUS_Message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactUS_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactUS_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactUS_ID })
        </td>
    </tr>
}

</table>
