@model IEnumerable<Rentbuddy.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_PhoneNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_History)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_PhoneNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_History)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Customer_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Customer_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Customer_ID })
        </td>
    </tr>
}

</table>
