@model IEnumerable<Rentbuddy.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_PhoneNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin_Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_PhoneNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin_Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Admin_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Admin_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Admin_ID })
        </td>
    </tr>
}

</table>
