@model IEnumerable<Rentbuddy.Models.CustomerStatu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Status_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Satus_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Customer_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Status_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Satus_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Customer_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Status_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Status_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Status_ID })
        </td>
    </tr>
}

</table>
