@model IEnumerable<Rentbuddy.Models.Vehicle>

@{
    ViewBag.Title = "RentVehicle";
}

<link href="~/Content/team.css" rel="stylesheet" />
<link href="~/Content/adminbutton.css" rel="stylesheet" />


<div class="containerX" style="margin-top:20px;">

    <a class="card1" href="@Url.Action("AdminView", "Admins")">
        <h3>Back To Home</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card1" href="@Url.Action("AllVehicle", "Vehicles")">
        <h3>See All Vehicle</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

    <a class="card1" href="@Url.Action("AvailableVehicle", "Vehicles")">
        <h3>See Available Vehicle</h3>
        <div class="go-corner">
            <div class="go-arrow">
                →
            </div>
        </div>
    </a>

</div>



<div class="tableX">
    <table class="containerD" style="width:1140px;">
        <thead>
            <tr>
                <th>
                    <h1 style="color: #3BFD0B; font-family: cursive; font-size: 20px;">
                        @Html.DisplayNameFor(model => model.Vehicle_Name)
                    </h1>
                </th>
                <th>
                    <h1 style="color: #3BFD0B; margin-left:40px; font-family: cursive; font-size: 20px;">
                        @Html.DisplayNameFor(model => model.Vehicle_LicenseNO)
                    </h1>
                </th>
                <th>
                    <h1 style="color: #3BFD0B; margin-left:40px; font-family: cursive; font-size: 20px;">
                        @Html.DisplayNameFor(model => model.Vehicle_Status)
                    </h1>
                </th>
                <th>
                    <h1 style="color: #3BFD0B; margin-left:40px; font-family: cursive; font-size: 20px;">
                        @Html.DisplayNameFor(model => model.Vehicle_Image)
                    </h1>
                </th>
                <th>
                    <h1 style="color: #3BFD0B; margin-left:40px; font-family: cursive; font-size: 20px;">
                        @Html.DisplayNameFor(model => model.Vehicle_Engine)
                    </h1>
                </th>
                <th>
                    <h1 style="color: #3BFD0B; margin-left:40px; font-family: cursive; font-size: 20px;">
                        @Html.DisplayNameFor(model => model.Vehicle_Price)
                    </h1>
                </th>
                <th>
                    <h1 style="color: #3BFD0B; font-family: cursive; font-size: 20px;">
                        @Html.DisplayNameFor(model => model.Category.Category_Name)
                    </h1>
                </th>
                <th style="width: 180px;">
                    <h1 style="color: #3BFD0B; font-family:cursive; font-size:20px;">
                        Controll
                    </h1>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle_Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle_LicenseNO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle_Status)
                    </td>
                    <td>
                        @if (item.Vehicle_Image != null)
                        {
                            var imgPath = item.Vehicle_Image;
                            <img src="@Url.Content(imgPath)" alt="profile card" style="width:20%; height:20%;">
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle_Engine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vehicle_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Category_Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Vehicle_ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Vehicle_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Vehicle_ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
