@model Rentbuddy.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Payment_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment_Advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_Advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payment_Due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payment_Due)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderM.Order_FromLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderM.Order_FromLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Payment_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
