@model IEnumerable<Rentbuddy.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Advance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderM.Order_FromLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Advance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_Due)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderM.Order_FromLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Payment_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Payment_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Payment_ID })
        </td>
    </tr>
}

</table>
